{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

        <div class="row">

            <div id="main" class="s-content__main large-12 column">

                <article class="entry">

                    <header class="entry__header">

                        <h2 class="entry__title h1">
                           {{ post.title }}
                        </h2>

                        <div class="entry__meta">
                            <ul>
                                <li>{{ post.post_date }}</li>
                                <li>By: {{ post.author.first_name }} {{ post.author.last_name }}</li>
                                <li><a href="{% url 'entry-edit' post.pk %}" title="" rel="category tag">Edit</a></li>
                                <li><a href="#" title="" rel="category tag">Delete</a></li>
                            </ul>
                        </div>
                     
                    </header> <!-- entry__header -->

                    <!-- <div class="entry__content-media">
                        <img src="images/wheel-500.jpg" 
                             srcset="images/wheel-1000.jpg 1000w, 
                                     images/wheel-500.jpg 500w" 
                             sizes="(max-width: 1000px) 100vw, 1000px" alt="">
                    </div> -->

                    <div class="entry__content">
                        <p class="lead">
                            {{ post.body|safe }}
                        </p>

                    </div> <!-- entry__content -->


                </article> <!-- end entry -->


            </div> <!-- end main -->

{% endblock %}