  
{% extends 'base.html' %}
{% block title %}Journal.{% endblock %}
{% block currentindex %}current{% endblock %}

{% block content %}

    {% for post in object_list %}

        <div class="row">

            <div id="main" class="s-content__main large-12 column">

                <article class="entry">

                    <header class="entry__header">

                        <h2 class="entry__title h1">
                            <a href="{% url 'entry-detail' post.pk %}" title="">{{ post.title }}</a>
                        </h2>

                        <div class="entry__meta">
                            <ul>
                                <li>{{ post.post_date }}</li>
                                <li>By: {{ post.author.first_name }} {{ post.author.last_name }}</li>
                            </ul>
                        </div>
                     
                    </header>
                    
                    <div class="entry__content">
                        <p>
                            {{ post.snippet }}
                        </p>
                    </div> 

           </div> <!-- end main -->

       </div> <!-- end row -->


    {% endfor %}
{% endblock %}